<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
              <behavior name="WCFServiceBehavior">
                <serviceMetadata httpGetEnabled="true"/>
                <serviceDebug includeExceptionDetailInFaults="true" />
              </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="LibServiceConfiguration.Services.WCFService" behaviorConfiguration ="WCFServiceBehavior">
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:6001/WCFService"/>
                  <add baseAddress="net.tcp://localhost:6002/WCFService"/>
                
                  
                </baseAddresses>
              </host>
                <endpoint address="http://localhost:6001/WCFService" binding="wsHttpBinding"
                    bindingConfiguration="" name="WCFHttpService" contract="LibServiceConfiguration.Interfaces.IWCFServiceContract"
                    isSystemEndpoint="false" />

             

              <endpoint address="net.tcp://localhost:6002/WCFService" binding="netTcpBinding"
                         behaviorConfiguration="" name="WCFNetTCPService" contract="LibServiceConfiguration.Interfaces.IWCFServiceContract"
                        isSystemEndpoint="False"/>
                         
            </service>
        </services>
    </system.serviceModel>
</configuration>